{% extends "service/skeleton.html" %}
{% load static %}

{% block head %}
{% endblock %}


{% block main_container %}

    <div style="padding-top: 50px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Write a Story</h2>
            </div>
        </div>
    </div>
        <div style="padding-top: 200px">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Coming Soon    <i class="fa fa-spin fa-spinner fa-1x" aria-hidden="true"></i></h3>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
{% endblock %}}


