{% extends "service/skeleton.html" %}
{% load static %}

{% block head %}
    <!-- DataTables CSS -->
    <link href="{% static 'service/userpages/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css' %}"
          rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="{% static 'service/userpages/bower_components/datatables-responsive/css/dataTables.responsive.css' %}"
          rel="stylesheet">
{% endblock %}

{% block main_container %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>


    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Your attempts
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table width="100%" class="table table-striped table-bordered table-hover"
                               id="dataTables">
                            <thead>
                            <tr>
                                <th>Quiz Name</th>
                                <th>Created By</th>
                                <th>Score</th>
                                <th>Max Score</th>
                                <th>Attempts</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for QuizResultModel in user_profile_model.attempted_quiz %}
                                <tr>
                                    <td>{{ QuizResultModel.quiz_model.quiz_name }}</td>
                                    <td>{{ QuizResultModel.quiz_model.quiz_owner.user_first_name }}
                                        {{ QuizResultModel.quiz_model.quiz_owner.user_last_name }}</td>
                                    <td align="center">{{ QuizResultModel.correct_score }}</td>
                                    <td align="center">{{ QuizResultModel.max_score }}</td>
                                    <td align="center">{{ QuizResultModel.attempts }}</td>
                                </tr>
                            {% empty %}
                                <li>No notifications.</li>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for notification in user_profile_model.notifications %}
                            <div class="alert alert-{{ notification.level }}">
                                {{ notification.message }}
                                <span class="pull-right text-muted small alert-{{ notification.level }}"><em>
                                    {{ notification.sender }}</em>
                                </span>
                            </div>
                        {% empty %}
                            <li>No notifications.</li>
                        {% endfor %}
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $('#dataTables').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}